<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
</head>
<body>

<script type="text/javascript" charset="utf-8" async defer>
	function get_locations() {
		$.ajaxSetup({
			async: true,
			timeout: 10000
		});
		$.get('/get_locations', function(data) {
			console.log(data);
		});
	}


</script>

<form name = "form" action = "javascript:get_locations()" 
         method = "POST" >{% csrf_token %}
         
         <div style = "max-width:470px;">
            <center> 
            
               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit" 
                  value = "Get locations" >
                  <strong>Get locations</strong>
               </button>
               
            </center>
         </div>
      </form>
      


</body>
</html>