<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
</head>
<body>

<script type="text/javascript" charset="utf-8" async defer>

	function book_request(name) {
		//nume local, comment
	    comment = $('#' + name).find('input.comment').val();
	    console.log(comment);
	    console.log(name);

	    $.ajax({
			url: "/get_locations_client/reserve_location",
			type: "GET",
			data: {name: name, comment: comment},
			success: function(data) {
				$('#' + name).find('input.comment').val("").attr('placeholder', 'add comments');
				$('#' + name).find('div.status').html("Your booking is pending.");
			}
		})
	}

	function get_location_form(name, info) {
 		var html = '<form id="' + name + '" action="javascript:book_request(\'' + name + '\')"> \
          <div class="location_name"> Location: ' + name + '</div> \
          <div class="location_type"> Type: ' + info["type"] + ' </div> \
          <div class="location_address"> Address:' + info["address"] +' </div> \
          </div> \
          <div class="status"></div>\
          <div style = "max-width:470px;"> \
          <div style = "max-width:470px;"><input class= "comment" type = "text" style = "margin-left:20%;" placeholder = "add comments" name = "comment" /></div>\
             <center> \
                <button style = "border:0px; background-color:#4285F4; margin-top:8%;\
                   height:35px; width:80%;margin-left:19%;" type = "submit">\
                   <strong>BOOK</strong>\
                </button>\
             </center>\
          </div>\
       </form>';
       return html;
 	}

 	function get_booking_form(info) {
 		// comment, location, status, username
 		var html = '<div class="booking_form"> \
          <div class="location_name"> Location: ' + info["location"] + '</div> \
          <div class="location_type"> Status: ' + info["status"] + ' </div> \
          <div class="location_address"> Comment:' + info["comment"] +' </div> \
          </div> \
       </div>';
       return html;

 	}


	function get_locations() {
		$.ajaxSetup({
			async: true,
			timeout: 10000
		});
		$.get('/get_locations_client', function(data) {
			$('#all_locations').html(" ");
			$('#my_bookings').html(" ");
			for (var key in data) {
				var type = data[key]["type"]
				var address = data[key]["type"]
				html = get_location_form(key, data[key])
				$('#all_locations').append(html);
			}
		});
	}

	function get_my_bookings() {
		$.ajaxSetup({
			async: true,
			timeout: 10000
		});
		$.get('/get_locations_client/my_bookings', function(data) {
			$('#all_locations').html(" ");
			for (var key in data) {
				var html = get_booking_form(data[key]);
				$('#my_bookings').append(html);
			}
			console.log(data);
			//console.log(data)
		});
	}

</script>
<p>{{ message }}</p>
<form name = "form" action = "javascript:get_locations()" 
         method = "POST" >{% csrf_token %}
         
         <div style = "max-width:470px;">
            <center> 
            
               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit" 
                  value = "Get locations" >
                  <strong>Get locations</strong>
               </button>
               
            </center>
         </div>
</form>
<div id="all_locations"></div>


<form name = "form" action = "javascript:get_my_bookings()" >{% csrf_token %}
         
         <div style = "max-width:470px;">
            <center> 
            
               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit" 
                  value = "SEE MY BOOKINGS" >
                  <strong>SEE MY BOOKINGS</strong>
               </button>
               
            </center>
         </div>
</form>
<div id="my_bookings"></div>
      


</body>
</html>