{% extends "base_bootstrap.html" %}

{% block head %}
 {{ block.super }}

{% endblock %}

{% block title %} <title>Client page</title> {% endblock %}

{% block stylesheets %}
 {{ block.super }}

{% endblock %}


{% block content %}

<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <a href="/" class="btn btn-default btn-raised btn-primary" style="float: right;">Logout</a>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
   

   <div class="panel panel-default">
      <div class="panel-body">


<p>{{ message }}</p>
<form name = "form" action = "javascript:get_locations()" 
         method = "POST" >{% csrf_token %}
         
         <div style = "max-width:470px;">
            <center> 
            
               <button class="btn btn-raised btn-primary" type = "submit" 
                  value = "Get locations" >
                  <strong>Get locations</strong>
               </button>
               
            </center>
         </div>
</form>
<div id="all_locations"></div>


<form name = "form" action = "javascript:get_my_bookings()" >{% csrf_token %}
         
         <div style = "max-width:470px;">
            <center> 
            
               <button class="btn btn-raised btn-primary" type = "submit" 
                  value = "SEE MY BOOKINGS" >
                  <strong>SEE MY BOOKINGS</strong>
               </button>
               
            </center>
         </div>
</form>
<div id="my_bookings"></div>

</div></div></div>

{% endblock %}


{% block scripts %}
 {{ block.super }}
 <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"> </script>
 <script type="text/javascript" charset="utf-8" async defer>

	function book_request(name) {
		//nume local, comment
	    comment = $('#' + name).find('input.comment').val();
	    console.log(comment);
	    console.log(name);

	    $.ajax({
			url: "/get_locations_client/reserve_location",
			type: "GET",
			data: {name: name, comment: comment},
			success: function(data) {
				$('#' + name).find('input.comment').val("").attr('placeholder', 'add comments');
				$('#' + name).find('div.status').html("Your booking is pending.");
			}
		})
	}

	function get_location_form(name, info) {
 		var html = '<form id="' + name + '" action="javascript:book_request(\'' + name + '\')"> \
          <div class="location_name"> <kbd> Location: ' + name + '</kbd></div> \
          <div class="location_type"> <kbd> Type: ' + info["type"] + ' </kbd></div> \
          <div class="location_address"> <kbd> Address:' + info["address"] +' </kbd></div> \
          </div> \
          <div class="status"></div>\
          <div style = "max-width:470px;"> \
          <div style = "max-width:470px;"><input class= "comment form-control" type = "text"  placeholder = "add comments" name = "comment" /></div>\
             <center> \
                <button class="btn btn-raised btn-primary" type = "submit">\
                   <strong>BOOK</strong>\
                </button>\
             </center>\
          </div>\
       </form>';
       return html;
 	}

 	function get_booking_form(info) {
 		// comment, location, status, username
 		var html = '<div class="booking_form"> \
          <div class="location_name">  <kbd> Location: ' + info["location"] + ' </kbd></div> \
          <div class="location_type">  <kbd> Status: ' + info["status"] + ' </kbd></div> \
          <div class="location_address"> <kbd> Comment:' + info["comment"] +' </kbd></div> \
          </div> \
       </div>';
       return html;

 	}


	function get_locations() {
		$.ajaxSetup({
			async: true,
			timeout: 10000
		});
		$.get('/get_locations_client', function(data) {
			$('#all_locations').html(" ");
			$('#my_bookings').html(" ");
			if (jQuery.isEmptyObject(data)) {
       			$('#all_locations').html("No locations.");
    		}
			for (var key in data) {
				var type = data[key]["type"]
				var address = data[key]["type"]
				html = get_location_form(key, data[key])
				$('#all_locations').append(html);
			}
		});
	}

	function get_my_bookings() {
		$.ajaxSetup({
			async: true,
			timeout: 10000
		});
		$.get('/get_locations_client/my_bookings', function(data) {
			$('#all_locations').html(" ");
			$('#my_bookings').html(" ");
			if (jQuery.isEmptyObject(data)) {
       			$('#my_bookings').html("No bookings.");
    		}
			for (var key in data) {
				var html = get_booking_form(data[key]);
				$('#my_bookings').append(html);
			}
		});
	}

	</script>

{% endblock %}
