{% extends "base_bootstrap.html" %}

{% block head %}
 {{ block.super }}

{% endblock %}

{% block title %} <title> Login </title> {% endblock %}

{% block stylesheets %}
 {{ block.super }}

{% endblock %}



{% block content %}

<div class="col-md-8 col-md-offset-2">
   <div class="row">
      <h2><span class="col-xs-1">#</span>
      <a href="#" class="col-xs-6">Login</a>
      <div class="col-xs-5"><hr></div>
      </h2>
   </div>

   <div class="panel panel-default">
      <div class="panel-body">
      <form class="form-horizontal"
            name = "form" action = "{% url "login" %}" 
            method = "POST" >{% csrf_token %} <!-- ??? -->
      <div class="error">{{message}}</div>
     <fieldset>
       <!-- <legend>Legend</legend> -->
       <div class="form-group">
         <label for="inputEmail" class="col-md-2 control-label">Email</label>

         <div class="col-md-10">
           <input type="text" id="username" class="form-control" name = "username" placeholder="Email">
         </div>
       </div>
       <div class="form-group">
         <label for="inputPassword" class="col-md-2 control-label">Password</label>

         <div class="col-md-10">
           <input type="password" class="form-control" name = "password" placeholder="Password">
         </div>
       </div>
       
       <div class="form-group">
         <div class="col-md-10 col-md-offset-2">
           <button type="submit" class="btn btn-raised btn-primary">Login</button>
         </div>
       </div>
     </fieldset>
   </form>
   </div>
   </div>

   <p><a href="/register" class="btn btn-default">Don&#39;t have an account ?</a></p>

</div>

{% endblock %}


{% block scripts %}

   <script>
      window.onload = function() {
        keepFocus();
      }

      function keepFocus() {
        document.getElementById("username").focus();
      }
   </script>

{% endblock %}
