<html>
   <body>
      
      <form name = "form" action = "{% url "register" %}" 
         method = "POST" >{% csrf_token %}
         <div class="error">{{message}}</div>
         <div style = "max-width:470px;">
            <center> 
               <input type = "text" style = "margin-left:20%;" 
                  placeholder = "Email" name = "username" />
            </center>
         </div>
			
         <br>
         
         <div style = "max-width:470px;">
            <center>
               <input type = "password" style = "margin-left:20%;" 
                  placeholder = "password" name = "password" />
            </center>
         </div>


         <div style = "max-width:470px;">
            <center>
               <input type = "password" style = "margin-left:20%;" 
                  placeholder = "verify password" name = "verify_password" />
            </center>
         </div>

         <div style = "max-width:470px;">
            <center>
               <select name="status" onchange="this.form.update()">
                  <option value="client">Client</option>
                  <option value="provider">Provider</option>
               </select>
            </center>
         </div>

			
         <br>
         
         <div style = "max-width:470px;">
            <center> 
            
               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit" 
                  value = "Register" >
                  <strong>Register</strong>
               </button>
               
            </center>
         </div>


         
      </form>
      
   </body>
</html>

